@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import "./base/reset";
@import "./layout/header";
@import "./utilities/mixins";
@import "./componentes/footer";

$primary-color: #0a054d;
$font-family: 'Roboto', sans-serif;

body {
    font-family: $font-family;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #110890;
}

/*Página inicio*/
.fondo-1 img{
    width: 100%;
    height: 400px;
    overflow: hidden;
}
.entrenadores{
    top: 10px;
    background-color: #4725c2;
    color-scheme: white;
    text-align: center;
}
.fondo-2 img{
    width: 100%;
    height: 350px;
    overflow: hidden;
}
.fondo-1{
    text-align: center;
    padding: 40px;
    h1 {
        font-size: 26px;
        color: #fff;
    }
    h2 {
        font-size: 22px;
        color: #fff;
    }
    h4 {
        font-size: 20px;
        color: #fff;
    }
}


/*quienes-somos*/
.fondo-quienes-somos {
    @mixin quienessomos ($cover, $center, $center, $center);
    background-image: url('./assets/basket5.jpg');
    height: 100%;
}

.mision-valores {
    text-align: center;
    h1 {
        font-size: 22px;
        margin: 0;
        color: #fff;
    }
    h3 {
        font-size: 18px;
        margin: 0;
        color: #fff;
    }
}

/* Estilos para hacer la página responsive */
@media (max-width: 768px) {
    .center-text {
        h1 {
            font-size: 18px;
        }
    }
}



/* categorias */
main {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    flex-wrap: wrap;
}

.card {
    background-color: #fff;
    border-radius: 5px;
    margin: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    max-width: 400px;

    .image {
        img {
            max-width: 100%;
            height: auto;
        }
    }

    .content {
        padding: 20px;
        background-color: #3498db;
        h2 {
            font-size: 24px;
            margin: 0 0 10px;
        }
        p {
            font-size: 16px;
            margin: 0;
        }
    }
}

/* Estilos para hacer la página responsive */
@media (max-width: 768px) {
    .card {
        width: 100%;
        margin: 10px;
    }
}



/*contenedor tienda*/
.grid-contenedor-tienda {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
    "equipos equipos equipos"
    "accesorios accesorios accesorios"
    "souvenir souvenir souvenir";
    gap: 20px;
    padding: 20px;
}

.product {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    text-align: center;

    img {
        max-width: 100%;
        height: auto;
    }

    h2 {
        font-size: 20px;
        margin: 10px 0;
    }

    p {
        font-size: 16px;
        margin: 10px 0;
    }

    .precio {
        font-size: 18px;
        font-weight: bold;
    }
}
@media (max-width: 1024px){
    header{
        background-color: gray;
    }
}
@media (max-width: 768px){
    header{
        background-color: gray;
    }
}


/* contacto */
.imagen-contacto {
    width: 100%;
    height: 350px;
}
section mapa {
    padding: 20px;
    align-items: center;
    }
    
    .contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    
    
    .mapa {
        flex: 1;
    }
    
    .contact-form {
        flex: 1;
        text-align: center;
    
        h2 {
            font-size: 24px;
        }
    
        form {
            text-align: left;
            max-width: 400px;
            margin: 0 auto;
    
            label {
                display: block;
                margin: 10px 0;
            }
    
            input, textarea {
                width: 100%;
                padding: 10px;
                margin: 5px 0;
                border: 1px solid #ccc;
                border-radius: 5px;
            }
    
            button {
                background-color: #3498db;
                color: #fff;
                padding: 10px 20px;
                border: none;
                border-radius: 5px;
                cursor: pointer;
            }
        }
    }
    }
    
