@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #110890;
}

header {
  background-color: #0a054d;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: fixed;
  width: 100%;
}

nav {
  display: flex;
  align-items: center;
}

.logo img {
  width: 20px;
  height: auto;
}

.menu-icon {
  display: none;
  cursor: pointer;
}
.menu-icon .bar {
  background-color: #fff;
  height: 3px;
  width: 25px;
  margin: 4px 0;
  border-radius: 3px;
  transition: 0.4s;
}

.navbar {
  list-style: none;
  display: flex;
  margin: left;
  padding: 0;
}
.navbar li {
  margin-right: 25px;
}
.navbar li a {
  text-decoration: none;
  color: #fff;
  transition: color 0.4s;
}
.navbar li a:hover {
  text-decoration: none;
  color: yellowgreen;
  background-color: blue;
}

/* Estilos para hacer la navegación responsive
@media (max-width: 768px) {
    nav {
        flex-direction: column;
        .nav-links {
            margin-top: 10px;
            flex-direction: column;
            li {
                margin: 10px 0;
            }
        }
    }
}
*/ /* Mostrar el icono en pantallas pequeñas (menos de 768px) */
@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }
  .navbar {
    display: none;
    flex-direction: column;
    background-color: #0a054d;
    position: absolute;
    top: 40px;
    right: 0;
    width: 100%;
    padding: 10px 0;
    z-index: 1;
  }
  .navbar li {
    margin: 10px 0;
    text-align: center;
  }
  .navbar li a {
    color: #fff;
    text-decoration: none;
  }
  /* Estilo para la animación del menú hamburguesa */
  .bar.open {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .bar.middle {
    opacity: 0;
  }
  .bar.close {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}
.fondo-1 {
  text-align: center;
  padding: 40px;
}
.fondo-1 img {
  max-width: 100%;
  height: auto;
}
.fondo-1 h1 {
  font-size: 26px;
  color: #fff;
}
.fondo-1 h2 {
  font-size: 22px;
  color: #fff;
}
.fondo-1 h4 {
  font-size: 20px;
  color: #fff;
}

footer {
  background-color: #0a054d;
  color: #fff;
  text-align: center;
  padding: 20px;
}
footer .social-icons a {
  display: inline-block;
  margin: 0 10px;
}
footer .social-icons img {
  max-width: 24px;
}

/*quienes-somos*/
.fondo-quienes-somos {
  background-image: url("../assets/basket5.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.mision-valores {
  text-align: justify;
}
.mision-valores h1 {
  font-size: 36px;
  margin: 0;
  color: #fff;
}
.mision-valores h3 {
  font-size: 30px;
  margin: 0;
  color: #fff;
}

/* Estilos para hacer la página responsive */
@media (max-width: 768px) {
  .center-text h1 {
    font-size: 24px;
  }
}
/* categorias */
.card {
  background-color: #fff;
  border-radius: 5px;
  margin: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  max-width: 400px;
  /*
      .side-paragraph {
          background-color: #3498db;
          color: #fff;
          text-align: center;
          padding: 10px;
          margin: 0;
      }*/
}
.card .image img {
  max-width: 100%;
  height: auto;
}
.card .content {
  padding: 20px;
  background-color: #3498db;
}
.card .content h2 {
  font-size: 24px;
  margin: 0 0 10px;
}
.card .content p {
  font-size: 16px;
  margin: 0;
}

/* Estilos para hacer la página responsive */
@media (max-width: 768px) {
  .card {
    width: 100%;
    margin: 10px;
  }
}/*# sourceMappingURL=style.css.map */