/*pie de pagina*/
footer{
    height: 30px;
    position: fixed;
    bottom: 0;
    background-color: #141616;
    z-index: 1;
    color: #FFFFFF !important;
    width: 100%;
    text-align: center;
}
.social-icons{
    background-color: $primary-color;
    color: #fff;
    text-align: center;
    padding: 17px;
    a {
        display: inline-block;
        margin: 0 10px;
    }
        img {
            max-width: 20px;
        }
    }
