/*Barra de navegacion*/
header{
    display: flex;
    align-items: center;
    justify-content: 
    space-between;
    padding: 2rem;
    background-color: #03043b;
    logo{
        max-width: 6rem;
    }
    navbar{
        list-style-type: none;
        display: flex;
        gap: 1rem;
        text-decoration: none;
    }
    navbar li a:hover{
        text-decoration: none;
        color: yellowgreen;
        background-color: blue;
    }
}
